__pycache__/
*.DS_Store
.idea/
.vscode/
data/output_data/*
!data/output_data/tsc/cityflow_dqn/cityflow1x1/test/model/*
.ipynb
data/raw_data/grid4x4/*.xml
data/raw_data/grid4x4/*.pdf
history_save/
soft/
collected/
.zshrc.venv/
CityFlow
data/raw_data/tempe/tempe_flow_tuned_v3.json
data/raw_data/pb*
logs
*.csv
*.txt
ACTION.log
rename.sh
convert.sh
raw_results
# pretrained
pretrained/sim2real_transitions
sbi-logs
figures